<template>
  <q-page class="flex-start bg-accent">
    <q-toolbar>
      <q-toolbar-title class="q-mt-md text-primary text-h6">
        CALENDARIO
      </q-toolbar-title>
      <q-select style="min-width: 80px"
        dense
        options-dense
        v-model="model"
        :options="options"
        label="" />
    </q-toolbar>
    <vue-cal class="q-mt-xs q-pa-xs"
      xsmall
      selected-date="2018-11-20"
      :time-from="7 * 60"
      :time-to="18 * 60"
      :disable-views="['years', 'year']"
      hide-weekends
      locale="es"
      events-dash-on-month-view
      :events="events"
      rounded
      :on-event-click="onEventClick">
    </vue-cal>
    <q-dialog v-model="showDialog">
      <q-card style="width: 400px">
        <q-card-section class="text-h6 text-bold text-accent bg-primary">
          <span>{{ selectedEvent.title }}</span>
          <q-space/>
          <strong class="text-secondary text-bold text-subtitle1">{{ selectedEvent.startDate && selectedEvent.startDate.format('DD/MM/YYYY') }}</strong>
        </q-card-section>
        <q-card-section>
          <p v-html="selectedEvent.contentFull" />
          <strong>Hora:</strong>
          <ul>
            <li>Inicio: {{ selectedEvent.startDate && selectedEvent.startDate.formatTime() }}</li>
            <li>Fin: {{ selectedEvent.endDate && selectedEvent.endDate.formatTime() }}</li>
          </ul>
        </q-card-section>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import VueCal from 'vue-cal'
import 'vue-cal/dist/i18n/es.js'
import 'vue-cal/dist/vuecal.css'
export default {
  components: { VueCal },
  name: 'calen',
  data () {
    return {
      model: 'Verónica Ruiz',
      selectedEvent: {},
      showDialog: false,
      events: [
        {
          start: '2018-11-20 14:00',
          end: '2018-11-20 16:00',
          title: 'Examen - MATEMÁTICAS',
          // content: '<i class="v-icon material-icons">create</i>',
          class: 'mate',
          contentFull: 'Capitulo #: Título capítulo<br><ul><li>contenido capítulo o descripción</li><li>contenido capítulo o descripción</li></ul> Requerimientos o listado de materiales (Opcional) <br><ul><li>Requerimiento o material</li><li>Requerimiento o material</li></ul>' // Custom attribute.
        },
        {
          start: '2018-11-20 07:00',
          end: '2018-11-20 9:00',
          title: 'Examen - QUÍMICA',
          // content: '<i class="v-icon material-icons">create</i>',
          class: 'quimica',
          contentFull: 'Capitulo #: Título capítulo<br><ul><li>contenido capítulo o descripción</li><li>contenido capítulo o descripción</li></ul> Requerimientos o listado de materiales (Opcional) <br><ul><li>Requerimiento o material</li><li>Requerimiento o material</li></ul>' // Custom attribute.
        },
        {
          start: '2018-11-21 10:00',
          end: '2018-11-21 12:00',
          title: 'Exposición - INGLES',
          // content: '<i class="v-icon material-icons">person</i>',
          class: 'ingles',
          contentFull: 'Capitulo #: Título capítulo<br><ul><li>contenido capítulo o descripción</li><li>contenido capítulo o descripción</li></ul> Requerimientos o listado de materiales (Opcional) <br><ul><li>Requerimiento o material</li><li>Requerimiento o material</li></ul>' // Custom attribute.
        },
        {
          start: '2018-11-22 08:00',
          end: '2018-11-22 10:00',
          title: 'Trabajo - FÍSICA',
          // content: '<i class="v-icon material-icons">description</i>',
          class: 'fisica',
          contentFull: 'Capitulo #: Título capítulo<br><ul><li>contenido capítulo o descripción</li><li>contenido capítulo o descripción</li></ul> Requerimientos o listado de materiales (Opcional) <br><ul><li>Requerimiento o material</li><li>Requerimiento o material</li></ul>' // Custom attribute.
        },
        {
          start: '2018-11-19 10:00',
          end: '2018-11-19 12:00',
          title: 'Investigación - ARTÍSTICA',
          // content: '<i class="v-icon material-icons">search</i>',
          class: 'artistica',
          contentFull: 'Capitulo #: Título capítulo<br><ul><li>contenido capítulo o descripción</li><li>contenido capítulo o descripción</li></ul> Requerimientos o listado de materiales (Opcional) <br><ul><li>Requerimiento o material</li><li>Requerimiento o material</li></ul>' // Custom attribute.
        },
        {
          start: '2018-11-23 14:00',
          end: '2018-11-23 16:00',
          title: 'Debate - PSICOLOGÍA',
          // content: '<i class="v-icon material-icons">person</i>',
          class: 'psicologia',
          contentFull: 'Capitulo #: Título capítulo<br><ul><li>contenido capítulo o descripción</li><li>contenido capítulo o descripción</li></ul> Requerimientos o listado de materiales (Opcional) <br><ul><li>Requerimiento o material</li><li>Requerimiento o material</li></ul>' // Custom attribute.
        },
        {
          start: '2018-11-29 08:00',
          end: '2018-11-29 10:00',
          title: 'Examen - FÍSICA',
          // content: '<i class="v-icon material-icons">create</i>',
          class: 'fisica',
          contentFull: 'Capitulo #: Título capítulo<br><ul><li>contenido capítulo o descripción</li><li>contenido capítulo o descripción</li></ul> Requerimientos o listado de materiales (Opcional) <br><ul><li>Requerimiento o material</li><li>Requerimiento o material</li></ul>' // Custom attribute.
        },
        {
          start: '2018-11-28 14:00',
          end: '2018-11-28 16:00',
          title: 'Examen - BIOLOGÍA',
          // content: '<i class="v-icon material-icons">create</i>',
          class: 'biologia',
          contentFull: 'Capitulo #: Título capítulo<br><ul><li>contenido capítulo o descripción</li><li>contenido capítulo o descripción</li></ul> Requerimientos o listado de materiales (Opcional) <br><ul><li>Requerimiento o material</li><li>Requerimiento o material</li></ul>' // Custom attribute.
        },
        {
          start: '2018-11-26 10:00',
          end: '2018-11-26 12:00',
          title: 'Trabajo - ARTÍSTICA',
          // content: '<i class="v-icon material-icons">description</i>',
          class: 'artistica',
          contentFull: 'Capitulo #: Título capítulo<br><ul><li>contenido capítulo o descripción</li><li>contenido capítulo o descripción</li></ul> Requerimientos o listado de materiales (Opcional) <br><ul><li>Requerimiento o material</li><li>Requerimiento o material</li></ul>' // Custom attribute.
        }
      ],
      options: [
        'Angel Ruiz', 'Verónica Ruiz'
      ]
    }
  },
  methods: {
    onEventClick (event, e) {
      this.selectedEvent = event
      this.showDialog = true
      // Prevent navigating to narrower view (default vue-cal behavior).
      e.stopPropagation()
    }
  },

  computed: {
    minDate () {
      const now = new Date()
      const date = new Date(now)
      date.setDate(now.getDate() - 15)
      return date
    },
    maxDate () {
      const now = new Date()
      const date = new Date(now)
      date.setDate(now.getDate() + 15)
      return date
    }
  }
}
</script>

<style>
.vuecal__menu {
  color: #ffffff;
  background: #4a8ff3;
}
.vuecal__title-bar {
  background: #efebe4;
}

.vuecal__now-line {
  background: #f5a416;
}
.vuecal__event.mate {
  background: #4a8ff3;
  border: 1px solid #4a8ff3;
  color: #fff;
}
.vuecal__event.psicologia {
  background-color: #d7a0d0;
  border: 1px solid #d7a0d0;
  color: #fff;
}
.vuecal__event.biologia {
  background-color: #5ebbd3;
  border: 1px solid #5ebbd3;
  color: #fff;
}
.vuecal__event.artistica {
  background-color: #f5a416;
  border: 1px solid #f5a416;
  color: #fff;
}
.vuecal__event.ingles {
  background-color: #978fd0;
  border: 1px solid #978fd0;
  color: #fff;
}
.vuecal__event.fisica {
  background-color: #3c6ec0;
  border: 1px solid #3c6ec0;
  color: #fff;
}
.vuecal__event.quimica {
  background-color: #7face3;
  border: 1px solid #7face3;
  color: #fff;
}
.vuecal__event {
  cursor: pointer;
}
.vuecal__event-title {
  font-size: 1em;
  font-weight: bold;
  margin: 4px 0 5px;
}
.vuecal__cell-events-count {
  background-color: #4a8ff3;
  font-weight: bold;
}
.vuecal--month-view .vuecal__cell {
  height: 50px;
}
</style>
