<template>
  <q-page class="flex-start items-start bg-accent">
    <q-toolbar>
      <q-toolbar-title class="q-mt-md text-primary text-h6">
        MATEMÁTICA
      </q-toolbar-title>
    </q-toolbar>
    <q-tabs v-model="tab"
      dense
      class="text-primary bg-accent"
      active-color="secondary"
      indicator-color="secondary"
      align="justify"
      narrow-indicator>
      <q-tab name="conten"
        label="CONTENIDO" />
      <q-tab name="evalua"
        label="PROX. EVALUACIONES">
        <q-badge color="secondary"
          text-color="white"
          floating
          transparent>1</q-badge>
      </q-tab>
      <q-tab name="calif"
        label="DESEMPEÑO">
        <q-badge color="secondary"
          text-color="white"
          floating
          transparent>2</q-badge>
      </q-tab>
    </q-tabs>

    <q-separator />

    <q-tab-panels v-model="tab"
      animated>
      <!-- MENU- CONTENIDO -->
      <q-tab-panel class="bg-accent"
        name="conten">
        <q-expansion-item dark
          class="overflow-hidden shadow-1"
          style="border-radius: 5px"
          expand-separator
          label="Primer lapso"
          header-class="text-subtitle1 text-bold bg-primary">
          <div>
            <q-expansion-item dense
              class="overflow-hidden q-mt-xs"
              style="border-radius: 5px"
              expand-separator
              label="Capítulo 1"
              header-class="text-primary text-subtitle1 text-bold bg-accent">
              <q-item dense
                class="text-secondary text-subtitle1 text-bold">
                <q-item-section>Título capítulo
                </q-item-section>
              </q-item>
              <q-item dense
                class="q-ml-md text-subtitle1">Contenido del capitulo
              </q-item>
              <q-item dense
                class="q-ml-md text-subtitle1">Contenido del capitulo
              </q-item>
              <q-item dense
                class="q-ml-md text-subtitle1">Contenido del capitulo
              </q-item>
              <q-item dense
                class="text-secondary text-subtitle1 text-bold">
                <q-item-section align="right">
                  <span class="text-secondary">2 semana</span>
                </q-item-section>
              </q-item>
            </q-expansion-item>
          </div>
          <div>
            <q-expansion-item dense
              class="overflow-hidden q-mt-xs"
              style="border-radius: 5px"
              expand-separator
              label="Capítulo 2"
              header-class="text-primary text-subtitle1 text-bold bg-accent">
              <q-item dense
                class="text-secondary text-subtitle1 text-bold">
                <q-item-section>Título capítulo
                </q-item-section>
              </q-item>
              <q-item dense
                class="q-ml-md text-subtitle1">Contenido del capitulo
              </q-item>
              <q-item dense
                class="q-ml-md text-subtitle1">Contenido del capitulo
              </q-item>
              <q-item dense
                class="q-ml-md text-subtitle1">Contenido del capitulo
              </q-item>
              <q-item dense
                class="text-secondary text-subtitle1 text-bold">
                <q-item-section align="right">
                  <span class="text-secondary ">2 semana</span>
                </q-item-section>
              </q-item>
            </q-expansion-item>
          </div>
          <div>
            <q-expansion-item dense
              class="overflow-hidden q-mt-xs"
              style="border-radius: 5px"
              expand-separator
              label="Capítulo 3"
              header-class="text-primary text-subtitle1 text-bold bg-accent">
              <q-item dense
                class="text-secondary text-subtitle1 text-bold">
                <q-item-section>Título capítulo
                </q-item-section>
              </q-item>
              <q-item dense
                class="q-ml-md text-subtitle1">Contenido del capitulo
              </q-item>
              <q-item dense
                class="q-ml-md text-subtitle1">Contenido del capitulo
              </q-item>
              <q-item dense
                class="q-ml-md text-subtitle1">Contenido del capitulo
              </q-item>
              <q-item dense
                class="text-secondary text-subtitle1 text-bold">
                <q-item-section align="right">
                  <span class="text-secondary text-bold">2 semana</span>
                </q-item-section>
              </q-item>
            </q-expansion-item>
          </div>
        </q-expansion-item>
        <q-expansion-item dark
          class="overflow-hidden shadow-1 q-mt-md"
          style="border-radius: 5px"
          expand-separator
          label="Segundo lapso"
          header-class="text-subtitle1 text-bold bg-primary">
        </q-expansion-item>
        <q-expansion-item dark
          class="overflow-hidden shadow-1 q-mt-md"
          style="border-radius: 5px"
          expand-separator
          label="Tercer lapso"
          header-class="text-subtitle1 text-bold bg-primary">
        </q-expansion-item>

      </q-tab-panel>

      <!-- MENU- EVALUACIÓN -->
      <q-tab-panel class="bg-accent"
        name="evalua">
        <q-item class="bg-info">
          <q-item-section top>
            <q-item-label lines="1">
              <span class="text-weight-medium">Fecha</span>
            </q-item-label>
            <q-item-label lines="1"
              class="q-mt-xs text-body2 text-weight-bold text-primary">
              <span>2018-11-10</span>
            </q-item-label>
          </q-item-section>

          <q-item-section top>
            <q-item-label lines="1">
              <span class="text-weight-medium">Examen escrito</span>
              <span class="text-grey-8"> - Capitulo 2</span>
            </q-item-label>
            <q-item-label caption
              lines="1">
              Contenido del capitulo a evaluar
            </q-item-label>
          </q-item-section>
          <q-item-section top>
            <q-item-label lines="1">
              <span class="text-weight-medium">Porcentaje</span>
            </q-item-label>
            <q-item-label lines="1"
              class="q-mt-xs text-body2 text-weight-bold text-primary">
              <span>20%</span>
            </q-item-label>
          </q-item-section>
          <q-item-section>
            <q-badge style="width: 40px"
              color="secondary"
              text-color="white"
              align="middle">New</q-badge>
          </q-item-section>
        </q-item>

        <q-item class="q-mt-md bg-info">
          <q-item-section top>
            <q-item-label lines="1">
              <span class="text-weight-medium">Fecha</span>
            </q-item-label>
            <q-item-label lines="1"
              class="q-mt-xs text-body2 text-weight-bold text-primary">
              <span>2018-10-23</span>
            </q-item-label>
          </q-item-section>

          <q-item-section top>
            <q-item-label lines="1">
              <span class="text-weight-medium">Taller</span>
              <span class="text-grey-8"> - Capitulo 1</span>
            </q-item-label>
            <q-item-label caption
              lines="1">
              Contenido del capitulo a evaluar
            </q-item-label>
          </q-item-section>
          <q-item-section top>
            <q-item-label lines="1">
              <span class="text-weight-medium">Porcentaje</span>
            </q-item-label>
            <q-item-label lines="1"
              class="q-mt-xs text-body2 text-weight-bold text-primary">
              <span>15%</span>
            </q-item-label>
          </q-item-section>
          <q-item-section size>
            <q-icon name="check_circle"
              color="green"
              size="25px" />
          </q-item-section>
        </q-item>

        <q-item class="q-mt-md bg-info">
          <q-item-section top>
            <q-item-label lines="1">
              <span class="text-weight-medium">Fecha</span>
            </q-item-label>
            <q-item-label lines="1"
              class="q-mt-xs text-body2 text-weight-bold text-primary">
              <span>2018-10-05</span>
            </q-item-label>
          </q-item-section>

          <q-item-section top>
            <q-item-label lines="1">
              <span class="text-weight-medium">Trabajo de invetigación</span>
              <span class="text-grey-8"> - Capitulo 1</span>
            </q-item-label>
            <q-item-label caption
              lines="1">
              Contenido del capitulo a evaluar
            </q-item-label>
          </q-item-section>
          <q-item-section top>
            <q-item-label lines="1">
              <span class="text-weight-medium">Porcentaje</span>
            </q-item-label>
            <q-item-label lines="1"
              class="q-mt-xs text-body2 text-weight-bold text-primary">
              <span>5%</span>
            </q-item-label>
          </q-item-section>
          <q-item-section size>
            <q-icon name="check_circle"
              color="green"
              size="25px" />
          </q-item-section>
        </q-item>
      </q-tab-panel>

      <!-- MENU- CALIFICACIÓN -->
      <q-tab-panel class="bg-accent"
        name="calif">
        <q-expansion-item dark
          group="somegroup"
          class="overflow-hidden shadow-1"
          style="border-radius: 5px;"
          header-class="text-subtitle1 text-bold bg-primary">
          <template v-slot:header>
            <q-item-section>
              Primer lapso
            </q-item-section>

            <q-item-section side>
              <div class="text-white">17
              </div>
            </q-item-section>
          </template>
          <div>
            <q-table :data="data"
              :columns="columns"
              row-key="name"
              :visible-columns="visibleColumns">
              <template v-slot:top="props">

                <q-space />

                <div v-if="$q.screen.gt.xs"
                  class="col">
                  <q-toggle v-model="visibleColumns"
                    val="Tipo"
                    label="Tipo" />
                  <q-toggle v-model="visibleColumns"
                    val="Contenido"
                    label="Contenido" />
                  <q-toggle v-model="visibleColumns"
                    val="Nota"
                    label="Nota" />
                  <q-toggle v-model="visibleColumns"
                    val="Peso"
                    label="Peso" />
                  <q-toggle v-model="visibleColumns"
                    val="Acumulado"
                    label="Acumulado" />
                  <q-toggle v-model="visibleColumns"
                    val="Fecha"
                    label="Fecha" />
                </div>
                <q-select v-else
                  v-model="visibleColumns"
                  multiple
                  borderless
                  dense
                  options-dense
                  :display-value="$q.lang.table.columns"
                  emit-value
                  map-options
                  :options="columns"
                  option-value="name"
                  style="min-width: 80px" />

                <q-btn flat
                  round
                  dense
                  :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
                  @click="props.toggleFullscreen"
                  class="q-ml-md" />
              </template>
              <template v-slot:header="props">
                <q-tr :props="props">
                  <q-th v-for="col in props.cols"
                    :key="col.name"
                    :props="props"
                    class="text-bold text-secondary">
                    {{ col.label }}
                  </q-th>
                </q-tr>
              </template>

            </q-table>
          </div>
        </q-expansion-item>
        <q-expansion-item dark
          group="somegroup"
          class="overflow-hidden shadow-1 q-mt-md"
          style="border-radius: 5px;"
          header-class="text-subtitle1 text-bold bg-primary">
          <template v-slot:header>
            <q-item-section>
              Segundo lapso
            </q-item-section>

            <q-item-section side>
              <div class="text-white">17
              </div>
            </q-item-section>
          </template>
          <div>
            <q-table :data="data"
              :columns="columns"
              row-key="name"
              :visible-columns="visibleColumns">
              <template v-slot:top="props">

                <q-space />

                <div v-if="$q.screen.gt.xs"
                  class="col">
                  <q-toggle v-model="visibleColumns"
                    val="Tipo"
                    label="Tipo" />
                  <q-toggle v-model="visibleColumns"
                    val="Contenido"
                    label="Contenido" />
                  <q-toggle v-model="visibleColumns"
                    val="Nota"
                    label="Nota" />
                  <q-toggle v-model="visibleColumns"
                    val="Peso"
                    label="Peso" />
                  <q-toggle v-model="visibleColumns"
                    val="Acumulado"
                    label="Acumulado" />
                  <q-toggle v-model="visibleColumns"
                    val="Fecha"
                    label="Fecha" />
                </div>
                <q-select v-else
                  v-model="visibleColumns"
                  multiple
                  borderless
                  dense
                  options-dense
                  :display-value="$q.lang.table.columns"
                  emit-value
                  map-options
                  :options="columns"
                  option-value="name"
                  style="min-width: 80px" />

                <q-btn flat
                  round
                  dense
                  :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
                  @click="props.toggleFullscreen"
                  class="q-ml-md" />
              </template>
              <template v-slot:header="props">
                <q-tr :props="props">
                  <q-th v-for="col in props.cols"
                    :key="col.name"
                    :props="props"
                    class="text-bold text-secondary">
                    {{ col.label }}
                  </q-th>
                </q-tr>
              </template>

            </q-table>
          </div>
        </q-expansion-item>
        <q-expansion-item dark
          group="somegroup"
          class="overflow-hidden shadow-1 q-mt-md"
          style="border-radius: 5px;"
          header-class="text-subtitle1 text-bold bg-primary"
          default-opened>
          <template v-slot:header>
            <q-item-section>
              Tercer lapso
            </q-item-section>

            <q-item-section side>
              <div class="text-white">2.55/4
              </div>
            </q-item-section>
          </template>
          <div>
            <q-table :data="data1"
              :columns="columns1"
              row-key="name"
              :visible-columns="visibleColumns">
              <template v-slot:top="props">

                <q-space />

                <div v-if="$q.screen.gt.xs"
                  class="col">
                  <q-toggle v-model="visibleColumns"
                    val="Tipo"
                    label="Tipo" />
                  <q-toggle v-model="visibleColumns"
                    val="Contenido"
                    label="Contenido" />
                  <q-toggle v-model="visibleColumns"
                    val="Nota"
                    label="Nota" />
                  <q-toggle v-model="visibleColumns"
                    val="Peso"
                    label="Peso" />
                  <q-toggle v-model="visibleColumns"
                    val="Acumulado"
                    label="Acumulado" />
                  <q-toggle v-model="visibleColumns"
                    val="Fecha"
                    label="Fecha" />
                </div>
                <q-select v-else
                  v-model="visibleColumns"
                  multiple
                  borderless
                  dense
                  options-dense
                  :display-value="$q.lang.table.columns"
                  emit-value
                  map-options
                  :options="columns"
                  option-value="name"
                  style="min-width: 80px" />

                <q-btn flat
                  round
                  dense
                  :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
                  @click="props.toggleFullscreen"
                  class="q-ml-md" />
              </template>
              <template v-slot:header="props">
                <q-tr :props="props">
                  <q-th v-for="col in props.cols"
                    :key="col.name"
                    :props="props"
                    class="text-bold text-secondary">
                    {{ col.label }}
                  </q-th>
                </q-tr>
              </template>

            </q-table>
          </div>
        </q-expansion-item>
      </q-tab-panel>
    </q-tab-panels>
  </q-page>
</template>

<script>
export default {
  name: 'asignaturas',
  data () {
    return {
      visibleColumns: ['Tipo', 'Nota', 'Peso', 'Acumulado'],
      columns: [
        {
          name: 'Tipo',
          label: 'Tipo de evaluación',
          align: 'center',
          field: row => row.name,
          format: val => `${val}`,
          sortable: true
        },
        { name: 'Contenido', align: 'center', label: 'Contenido evaluado', field: 'Contenido', sortable: true },
        { name: 'Nota', align: 'center', label: 'Nota', field: 'Nota' },
        { name: 'Peso', align: 'center', label: 'Peso (%)', field: 'Peso' },
        { name: 'Acumulado', align: 'center', label: 'Acumulado', field: 'Acumulado' },
        { name: 'Fecha', align: 'center', label: 'Fecha', field: 'Fecha' }
      ],
      data: [
        {
          name: 'Examen escrito',
          Contenido: 'Capítulo #',
          Nota: 18,
          Peso: 20,
          Acumulado: '3.6/4',
          Fecha: 'dd/mm/aaaa'
        },
        {
          name: 'Taller',
          Contenido: 'Capítulo #',
          Nota: 20,
          Peso: 15,
          Acumulado: '3/3',
          Fecha: 'dd/mm/aaaa'
        },
        {
          name: 'Trabajo',
          Contenido: 'Capítulo #',
          Nota: 10,
          Peso: 10,
          Acumulado: '1/2',
          Fecha: 'dd/mm/aaaa'
        },
        {
          name: 'Exposición',
          Contenido: 'Capítulo #',
          Nota: 18,
          Peso: 15,
          Acumulado: '2.7/3',
          Fecha: 'dd/mm/aaaa'
        },
        {
          name: 'Debate',
          Contenido: 'Capítulo #',
          Nota: 20,
          Peso: 10,
          Acumulado: '2/2',
          Fecha: 'dd/mm/aaaa'
        },
        {
          name: 'Tesis',
          Contenido: 'Capítulo #',
          Nota: 15,
          Peso: 30,
          Acumulado: '4.5/6',
          Fecha: 'dd/mm/aaaa'
        }
      ],
      columns1: [
        {
          name: 'Tipo',
          label: 'Tipo de evaluación',
          align: 'center',
          field: row => row.name,
          format: val => `${val}`,
          sortable: true
        },
        { name: 'Contenido', align: 'center', label: 'Contenido evaluado', field: 'Contenido', sortable: true },
        { name: 'Nota', align: 'center', label: 'Nota', field: 'Nota' },
        { name: 'Peso', align: 'center', label: 'Peso (%)', field: 'Peso' },
        { name: 'Acumulado', align: 'center', label: 'Acumulado', field: 'Acumulado' },
        { name: 'Fecha', align: 'center', label: 'Fecha', field: 'Fecha' }
      ],
      data1: [
        {
          name: 'Trabajo',
          Contenido: 'Capítulo #',
          Nota: 17,
          Peso: 15,
          Acumulado: '2.55/3',
          Fecha: 'dd/mm/aaaa'
        },
        {
          name: 'Taller',
          Contenido: 'Capítulo #',
          Nota: 0,
          Peso: 5,
          Acumulado: '0/1',
          Fecha: 'dd/mm/aaaa'
        }
      ],
      tab: 'evalua'
    }
  },
  methods: {
    changeRoute (data) {
      this.$router.push(data)
      this.link = data
    }
  },

  computed: {
    minDate () {
      const now = new Date()
      const date = new Date(now)
      date.setDate(now.getDate() - 15)
      return date
    },
    maxDate () {
      const now = new Date()
      const date = new Date(now)
      date.setDate(now.getDate() + 15)
      return date
    }
  }
}
</script>

<style>
.my-card {
  width: 600px;
}
</style>
