// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #4a8ff3;
$secondary : #f5a416;
$accent    : #ecf4fc;

$dark      : #2b363f;

$positive  : #21BA45;
$negative  : #BD3030;
$info      : #efebe4;
$warning   : #F2C037;
