<template>
  <q-layout view="hHh lpR fFf">
    <q-header normal>
      <q-toolbar class="glossy">
        <q-btn flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          icon="menu"
          class="q-mr-sm"
          aria-label="Menu" />
        <q-separator dark
          vertical
          inset />
        <q-toolbar-title class="text-white" v-ripple>
          <q-avatar>
            <!-- <img src="https://cdn.quasar.dev/logo/svg/quasar-logo.svg"> -->
          </q-avatar>
          RORAIMA
        </q-toolbar-title>
        <q-btn flat
          dense
          round
          @click="rightDrawerOpen = !rightDrawerOpen"
          icon="notifications"
          class="q-mr-sm">
          <q-badge color="secondary"
            text-color="white"
            floating
            transparent>3</q-badge>
        </q-btn>
        <q-btn flat
          dense
          round
          icon="person"
          class="q-mr-sm">
          <q-menu>
            <q-list style="min-width: 10px">
              <q-item clickable
                v-close-popup>
                <q-item-section>
                  <div class="row no-wrap q-pa-xs">
                    <div class="column">
                      <q-avatar size="60px">
                        <img src="https://cdn.quasar.dev/img/avatar5.jpg">
                      </q-avatar>
                    </div>

                    <div class="column items-center">
                      <div class="text-subtitle1 text-primary q-mt-md q-mb-xs q-ml-xs q-ml-lg">María Salazar</div>
                    </div>
                  </div>
                </q-item-section>
              </q-item>
              <q-expansion-item expand-separator
                class="text-primary"
                icon="people_alt"
                label="Representante"
                caption="correo@karanta.com.ve">
                <q-item clickable
                  active-class="my-menu-link"
                  class="text-secondary">
                  <q-item-section>
                    <q-item-label>Representante</q-item-label>
                  </q-item-section>
                </q-item>
                <q-item clickable
                  active-class="my-menu-link"
                  class="text-primary">
                  <q-item-section>
                    <q-item-label>Profesor</q-item-label>
                  </q-item-section>
                </q-item>
              </q-expansion-item>
              <q-item clickable
                v-close-popup>
                <q-item-section>
                  <q-btn color="negative"
                    label="Logout"
                    push
                    size="sm"
                    v-close-popup />
                </q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </q-btn>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-white text-primary text-bold">
      <q-list>
        <q-item clickable
          v-ripple
          :active="link === 'calen'"
          @click="changeRoute('calen')"
          active-class="my-menu-link">
          <q-item-section avatar>
            <q-icon name="event" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Calendarios de evaluación</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable
          v-ripple
          :active="link === 'calif'"
          @click="changeRoute('calif')"
          active-class="my-menu-link"
          class="q-mt-xs">
          <q-item-section avatar>
            <q-icon name="library_add_check" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Calificaciones</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable
          v-ripple
          :active="link === 'asig'"
          @click="changeRoute('asig')"
          active-class="my-menu-link"
          class="q-mt-xs">
          <q-item-section avatar>
            <q-icon name="local_library" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Asignatura</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>
    <q-drawer v-model="rightDrawerOpen"
      side="right"
      bordered
      class="bg-accent">
      <q-toolbar-title class="text-primary text-h6 text-center">
          Notificaciones
        </q-toolbar-title>
          <q-separator spaced />
      <!-- Notificacion 1 -->
      <q-item class="bg-orange-1 q-mt-xs text-body1"
        style=" font-size: 13px">

        <q-item-section>
          <q-item-label class="text-right text-primary"
            lines="1">
            Veronica Ruiz
          </q-item-label>
          <q-item-label lines="1">
            <span> Agregado </span>
            <span class="text-bold">Evaluación</span>
            <span> en fecha </span>
            <span class="text-bold">10/11/2018</span>
          </q-item-label>
          <q-item-label lines="1">
            <span>Examen escrito </span>
            <span class="text-bold">Química</span>
            <span>, capítulo 2.</span>
          </q-item-label>
          <q-item-label lines="1"
            class="text-right text-grey-7"
            style=" font-size: 10px">
            28-10-2018 11:15:20 a.m
          </q-item-label>
        </q-item-section>
      </q-item>
      <!-- Notificacion 2 -->
      <q-item class="bg-orange-1 q-mt-xs text-body1"
        style=" font-size: 13px">
        <q-item-section>
          <q-item-label class="text-right text-primary"
            lines="1">
            Veronica Ruiz
          </q-item-label>
          <q-item-label lines="1">
            <span> Agregado </span>
            <span class="text-bold">Calificación</span>
            <span> en </span>
            <span class="text-bold">Matemáticas</span>
          </q-item-label>
          <q-item-label lines="1">
            <span>Examen escrito</span>
            <span>, capítulo 1.</span>
          </q-item-label>
          <q-item-label lines="1"
            class="text-right text-grey-7"
            style=" font-size: 10px">
            26-10-2018 15:03:56 p.m
          </q-item-label>
        </q-item-section>
      </q-item>
      <!-- Notificacion 3 -->
      <q-item class="bg-orange-1 q-mt-xs text-body1"
        style=" font-size: 13px">

        <q-item-section>
          <q-item-label class="text-right text-secondary"
            lines="1">
            Angel Ruiz
          </q-item-label>
          <q-item-label lines="1">
            <span> Agregado </span>
            <span class="text-bold">Actividad</span>
            <span> en fecha </span>
            <span class="text-bold">13/10/2018</span>
          </q-item-label>
          <q-item-label lines="1">
            <span>Torneo de </span>
            <span class="text-bold">Futbol</span>
            <span>, capítulo 2.</span>
          </q-item-label>
          <q-item-label lines="1"
            class="text-right text-grey-7"
            style=" font-size: 10px">
            25-10-2018 09:26:20 a.m
          </q-item-label>
        </q-item-section>
      </q-item>
      <!-- Notificacion 4 -->
      <q-item class=" q-mt-xs text-body1"
        style=" font-size: 13px">

        <q-item-section>
          <q-item-label class="text-right text-secondary"
            lines="1">
            Angel Ruiz
          </q-item-label>
          <q-item-label lines="1">
            <span> Agregado </span>
            <span class="text-bold">Evaluación</span>
            <span> en fecha </span>
            <span class="text-bold">06/11/2018</span>
          </q-item-label>
          <q-item-label lines="1">
            <span>Exposición </span>
            <span class="text-bold">Ingles</span>
            <span>, capítulo 1.</span>
          </q-item-label>
          <q-item-label lines="1"
            class="text-right text-grey-7"
            style=" font-size: 10px">
            21-10-2018 11:33:20 a.m
          </q-item-label>
        </q-item-section>
      </q-item>
      <!-- Notificacion 5 -->
      <q-item class="q-mt-xs text-body1"
        style=" font-size: 13px">
        <q-item-section>
          <q-item-label class="text-right text-primary"
            lines="1">
            Veronica Ruiz
          </q-item-label>
          <q-item-label lines="1">
            <span> Agregado </span>
            <span class="text-bold">Calificación</span>
            <span> en </span>
            <span class="text-bold">Fisíca</span>
          </q-item-label>
          <q-item-label lines="1">
            <span>Examen escrito</span>
            <span>, capítulo 1.</span>
          </q-item-label>
          <q-item-label lines="1"
            class="text-right text-grey-7"
            style=" font-size: 10px">
            219-10-2018 15:03:56 p.m
          </q-item-label>
        </q-item-section>
      </q-item>
    </q-drawer>

    <q-page-container>
      <div class="text-grey-9 text-right bg-accent q-pa-xs"
        style=" font-size: 10px">
         Última conexión 24-10-2018 09:51:45 a.m
      </div>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'MyLayout',

  data () {
    return {
      leftDrawerOpen: false,
      rightDrawerOpen: false,
      link: 'calen'
    }
  },
  methods: {
    changeRoute (data) {
      this.$router.push(data)
      this.link = data
    }
  }
}
</script>

<style>
.my-menu-link {
  background-color: #efebe4;
  color: #f5a416;
}
</style>
